<header class="header">
  <div class="logo">
    <span>JoinMe</span>
  </div>

  <div class="sign-up-contanier">
    <h1 class="slogan">
      <span class="slogan-main">Awesome Events</span>
      <span class="slogan-sec">only with one click!</span>
    </h1>
  </div>
</header>