
<header class="header">
  <div class="header__logo">
    <span>JoinMe</span>
  </div>

  <div class="header__sign-up-contanier">
    <h1 class="slogan">
      <span class="slogan--main">Awesome Events</span>
      <span class="slogan--sec">only with one click!</span>
    </h1>

    <%= link_to 'Sign Up', sign_up_path, class: "btn btn--white btn--animated", id: "sign-up" %>
  </div>
</header>