<%= render 'header' %>

<div class="form">
  <div class="form__title">
    <h3>Edit your event</h3>
    <span>Enjoy your life by sharing awesome events!!!.</span>
  </div>

  <%= render 'form', hide_image: true, button: 'Save' %>

</div>
