@import 'mixins';
@import 'variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow: scroll;
  overflow-x: hidden;

  @media (max-width: 1024px) {
    font-size: 45%;
  }
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  // background: #FF0000;
}

body {
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 400;
  letter-spacing: 1.9;
  padding: 3rem;
  color: $color-light-gray;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    padding: 0;
  }
}

h1 {
  font-family: 'Lato', sans-serif;
}
