@import 'mixins';
@import 'variables';

.arrow {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	-moz-animation: bounce 3s infinite;
  -o-animation: bounce 3s infinite;

  & > img {
    width: 4rem;
  }

  &:hover {
    cursor: pointer;
  }

}

.arrow_up {
  position: fixed;
  right: 3%;
  bottom: 5%;
  border-radius: 100px;
  box-shadow: 0 1rem 5rem rgba(0,0,0,0.3);
  transition: all .2s;
  display: none;

  &:hover {
    backface-visibility: hidden;
    transform: scale(1.12);
    cursor: pointer;
  }
}