@import 'mixins';
@import 'variables';

.arrow {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	-moz-animation: bounce 3s infinite;
  -o-animation: bounce 3s infinite;
  // border-radius: 50%;
  // border: 2px solid #020209;

  & > img {
    width: 4rem;
  }

  &:hover {
    cursor: pointer;
  }

}