@import 'mixins';
@import 'variables';

.events {
  font-family: 'Raleway', sans-serif;
  height: 370px;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &:hover .date-host__details {
    opacity: 1;
    z-index: 2;
    transform: translateY(0);
  }

  &:hover .date-host > img {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }

  &:hover .details-event .edit_event {
    opacity: 1;
    visibility: visible;
    transform: translateX(-2rem);
  }

  .date-host {
    background-color: #1C2331;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 100%;
    justify-content: center;
    flex: 2;
    align-items: center;
    font-size: 25px;
    border-right: 3px solid #3273C5;
    position: relative;

    &__details {
      backface-visibility: hidden;
      z-index: 1;
      transform: translate(0%, 170%);
      opacity: 0;
      transition: all 0.4s;
    }

    strong {
      text-align: center;
    }

    .date-start {
      text-align: center;
      font-size: 17px;
      display: flex;
      flex-direction: column;  
    }

    & > img {
      vertical-align: middle;
      border-style: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(1.3);
      transition: all 0.4s;
    }
  }

  .details-event {
    flex: 4;
    padding: 10px 20px;
    position: relative;

    .edit_event {
      backface-visibility: hidden;
      position: absolute;
      right: 1rem;
      top: 1rem;
      opacity: 0;
      visibility: hidden;
      transform: translate(10%, 0%);
      transition: all 0.1s;

      &:hover {
        cursor: pointer;
      }
    }

    .title {
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 3px;
      height: 25%;
      align-items: flex-end;
      display: flex;
      border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    .details {
      display: flex;
      flex-direction: column;
      height: 75%;
      padding: 20px 0;
      justify-content: space-between;

      .event-details {
        margin-bottom: 10px;

        p {
          display: flex;
          align-items: center;
          font-size: 1.3rem;
  
          i {
            font-size: 2.3rem;
            padding: 0 .5rem;
            color: $color-red;
          }
        }

        p.description {
          font-size: 1.6rem;
          margin-left: 6px;
          font-family: lato;
          text-align: justify;
        }

        & > span {
          font-size: 1.2rem;
        }
      }

      a {
        border: 2px solid #3273C5;
        padding: 10px 10px;
        width: 227px;
        text-align: center;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        font-weight: 500;
        color: #3273C5;

        &:hover {
          text-decoration: none;
          cursor: pointer;
          background-color: #3273C5;
          color: #fff;
        }
      }
    }

    .button-details {
      display: flex;
      justify-content: start;

      a, p {
        margin-right: 3px;
      }
    }
  }
}