@import 'mixins';
@import 'variables';

.events {
  font-family: 'Raleway', sans-serif;
  height: 370px;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  @media (max-width: 1024px) {
    flex-direction: column;
    height: 800px;
  }

  @media (max-width: 425px) {
    height: auto;
  }

  &:hover .date-host__details {
    opacity: 1;
    // z-index: 2;
    transform: translateY(0);
  }

  &:hover .date-host > img {
    transform: scale(1);
    filter: blur(3px) brightness(80%);

    @media (max-width: 425px) {
      filter: none;
      transform: none;
    }
  }

  &:hover .details-event .edit_event {
    opacity: 1;
    visibility: visible;
    transform: translateX(-2rem);

    @media (max-width: 425px) {
      transform: translateX(-10px);
    }
  }

  &:hover .details-event .footer-event {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
  }

  .date-host {
    background-color: #1c2331;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 100%;
    justify-content: center;
    flex: 2;
    align-items: center;
    font-size: 25px;
    border-right: 3px solid #3273c5;
    position: relative;
    text-align: center;

    @media (max-width: 1024px) {
      width: 100%;
      height: 10rem;
      flex: 0 0 50%;
    }

    @media (max-width: 425px) {
      flex: 0 0 40rem;
    }

    &__details {
      position: relative;
      backface-visibility: hidden;
      z-index: 1;
      transform: translate(0%, 170%);
      opacity: 0;
      transition: all 0.4s;

      @media (max-width: 425px) {
        transform: translate(0);
        opacity: 1;
        background: rgba(0,0,0,0.7);
        width: 100%;
        color: #fff;
        padding: 1rem;
      }
    }

    strong {
      text-align: center;
    }

    .date-start {
      text-align: center;
      font-size: 17px;
      display: flex;
      flex-direction: column;
    }

    & > img {
      vertical-align: middle;
      border-style: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(1.3);
      transition: all 0.4s;

      @media (max-width: 425px) {
        transform: scale(1.0);
      }
    }
  }

  .details-event {
    flex: 4;
    position: relative;
    height: 100%;

    @media (max-width: 1024px) {
      flex: 0 0 50%;
      position: relative;
      height: 100%;
    }

    @media (max-width: 425px) {
      flex: 0 0 60%;
    }

    .edit_event {
      backface-visibility: hidden;
      position: absolute;
      right: 0rem;
      top: 1rem;
      opacity: 0;
      visibility: hidden;
      transform: translate(10%, 0%);
      transition: all 0.1s;

      @media (max-width: 425px) {
        opacity: 1;
        visibility: visible;
        transform: translateX(-10px);
      }

      &:hover {
        cursor: pointer;
      }
    }

    .title {
      font-size: 20px;
      padding: 0rem 2rem;
      font-weight: 400;
      letter-spacing: 3px;
      height: 17%;
      align-items: flex-end;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      @media (max-width: 1024px) {
        height: auto;
        padding: 1rem 2rem;
      }

      @media (max-width: 425px) {
        font-size: 16px;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      height: 83%;
      padding-top: 0.5rem;
      justify-content: space-between;
      
      @media (max-width: 1024px) {
        height: 85%;
      }

      @media (max-width: 425px) {
        height: 90%;
      }
      

      .event-details {
        padding: 1rem 2rem 0rem 2rem;
        p {
          display: flex;
          align-items: center;
          font-size: 1.3rem;

          @media (max-width: 1024px) {
            font-size: 2.2rem;
          }

          img {
            width: 2.5rem;
            margin-right: 0.3rem;

            @media (max-width: 1024px) {
              width: 3.5rem;
            }
          }

          i {
            font-size: 2.3rem;
            padding: 0 0.5rem;
            color: $color-red;
          }
        }

        p.description {
          font-size: 1.6rem;
          margin-left: 6px;
          font-family: lato;
          text-align: justify;

          @media (max-width: 1024px) {
            font-size: 2.5rem;
            margin-bottom: 2rem;
          }

          @media (max-width: 425px) {
            font-size: 2.2rem;
          }
        }

        & > span {
          font-size: 1.2rem;

          @media (max-width: 1024px) {
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }
        }
      }
    }

    .button-details {
      display: flex;
      justify-content: start;
      padding: 0rem 2rem;

      @media (max-width: 1024px) {
        margin-top: 4rem;
      }

      a {
        border: 2px solid #3273c5;
        padding: 10px 10px;
        width: 227px;
        text-align: center;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        font-weight: 500;
        color: #3273c5;

        &:hover {
          text-decoration: none;
          cursor: pointer;
          background-color: #3273c5;
          color: #fff;
        }
      }

      a,
      p {
        margin-right: 3px;
      }
    }

    .footer-event {
      // border-top: 1px solid rgba(0,0,0,.15);
      padding: 1.5rem 2rem;
      display: flex;
      justify-content: space-between;
      transform: translateY(2rem);
      transition: all 0.2s ease-in;
      opacity: 0;
      visibility: hidden;

      @media (max-width: 425px) {
        visibility: visible;
        opacity: 1;
        transform: translate(0);
      }

      &__right {
        display: flex;
        align-items: center;

        & > a,
        .views {
          color: #b3b3b3;
          margin-right: 1rem;
          font-size: 1.3rem;

          @media (max-width: 1024px) {
            font-size: 1.6rem;
          }
        }

        & > a:hover {
          text-decoration: underline;
          color: #000;
        }
      }
    }
  }
}

.popup-comments-hide {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.comments-popup {
  height: 38rem;
  width: 44rem;
  background-color: $color-white;
  position: absolute;
  bottom: 100%;
  left: 6%;
  // padding: 2rem;
  border: 1px solid #aaa;
  z-index: 10;
  border-radius: 4px;

  @media (max-width: 425px) {
    width: 37rem;
  }

  &__container {
    position: relative;
    height: 100%;
  }

  .comment-content {
    height: 23rem;
    overflow: auto;

    .comment-container {
      padding: 1rem 2rem;
      margin: 0;
      &:hover {
        background-color: #f3f5f6;
      }
      .comment-commenter {
        display: flex;
        align-items: center;

        & > h2.commenter {
          margin: 0;
          margin-top: 0;
          margin-bottom: 0;
          margin-right: 1rem;
          color: #006dac;
          line-height: 24px;
          font-weight: 600;
          font-size: 1.4rem;
          direction: ltr;
        }

        & > span {
          margin: 0;
          margin-bottom: 0;
          line-height: 18px;
          color: #898989;
          font-size: 1.1rem;
          font-weight: 400;
          margin-left: 0.5rem;
        }
      }

      .comment-body {
        color: #212124;

        & > p {
          font-size: 1.2rem;
        }
      }
    }
  }

  .comments-form {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    padding: 1rem 2rem;

    .simple_form {
      #comment_body {
        padding: 1rem;
        border: 2px solid #2f87bb;
        border-radius: 3px;
        width: 100%;
        font-size: 1.3rem;
        font-weight: 500;
      }

      & > input[type='submit'] {
        background: #2f87bb;
        border-radius: 3px;
        border-radius: 3px;
        width: 50%;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 800;
        padding: 1rem 2rem;
        margin-top: 1rem;
        border: none;
        float: right;
      }

      .textarea {
        position: relative;

        .comment-arrow {
          position: absolute;
          width: 12px;
          height: 25px;
          overflow: hidden;
          top: 10px;
          left: -10px;
          padding-left: 0.3rem;
        }

        .comment-arrow::before {
          content: '';
          position: absolute;
          width: 2rem;
          height: 2rem;
          border-radius: 2px;
          padding: 1rem;
          background: #fff;
          border: 2px solid #008ddf;
          transform: rotate(45deg);
          margin: 0.5rem;
        }
      }
    }
  }
}
