.footer-container {
  width: 100%;
  margin-top: 15rem;
  height: 20rem;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 2rem;
    color: #fff;
  }
}