@import 'mixins';
@import 'variables';

.navigation {
  &__checkbox {
    display: none;
  } 

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 200;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-ligth-purple, $color-dark-purple);
    z-index: 100;
    transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    @include absCenter();
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item { 
    margin: 1rem;

    & > span {
      // display: inline-block;
      font-size: 3rem;
      margin-bottom: 3rem;
      font-weight: 300;
      width: 50rem;
      padding: 1rem 3.5rem;
      color: #fff;
      text-transform: uppercase;
      transition: all 0.4s;
      border-bottom: 2px solid #fff;
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: none;
      opacity: 0;
      visibility: hidden;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 3.5rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 50%, transparent 50%, $color-white 50%);
      background-size: 230%;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      color: $color-ligth-purple;
      background-position: 100%;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__checkbox:checked ~ &__nav {
    .navigation__list {
      .navigation__item > span {
        display: inline-block;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__checkbox:checked ~ &__nav {
    .navigation__list {
      .navigation__item .navigation__link {
        &:link,
        &:visited {
          display: inline-block;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-2;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before { top: -.8rem; }
    &::after { top: .8rem; }
  }

  &__counter {
    font-size: 1.7rem;
    background: #F04546;
    border-radius: 50%;
    padding: 0 .7rem;
    font-weight: 500;
    color: #fff;
    border: none;
    position: absolute;
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}