@import 'mixins';
@import 'variables';

.popup-hide {
  opacity: 0;
  visibility: hidden;
}

.popup {  
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 2001;
  padding: 3rem;
  transition: all 0.2s;

  @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, .6);
  }

  &__content {
    @include absCenter;
    width: 60%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0) !important;
    transition: all .3s .3s;
  }

  .popup-display {
    transform: translate(-50%, -50%) scale(1) !important;
  }

  &__right {
    padding: 3rem 5rem !important;
    border-left: 2px solid $color-purple-2 !important;

    & > .popup__close {
          color: $color-grey-dark;
          position: absolute;
          top: 2.5rem;
          right: 2.5rem;
          font-size: 2rem;
          text-decoration: none;
          display: inline-block;
          transition: all .2s;
          line-height: 1;
      

      &:hover {
          color: $color-purple;
      }
    }

    .people-attending-container {
      text-align: center;
      text-transform: uppercase;

      & > span {
        font-size: 1.5rem;
        padding: .5rem 1.2rem;
      }
    }

    .invite-people {
      text-align: center;
      padding: 2rem;

      & > h4 {
        text-transform: uppercase;
        margin-bottom: 2rem;
      }

      &-item {
        &,
        &:hover,
        &:active {
          text-decoration: none;
          background: #007bff;
          color: #fff;
          padding: .2rem 1.2rem;
          border-radius: 3px;
          font-size: 1.5rem;
          margin: 0 0.5rem;
        }
      }
    }
    
    .show_event {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #999;

      &--header > h2 {
        font-size: 3rem;
        font-weight: 100;
        letter-spacing: 2px;
      }
    }

    .body {
      font-size: 1.7rem;

      & > p {
        & > i {
          color: $color-red;
        }

        img {
          width: 2.5rem;
          margin-right: .3rem;
        }
      }

      .description {
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #eee;
      }
    }

    .footer {
      font-size: 2rem;
    }

    .badge-primary-invitations {
      font-size: 1.5rem;
    }


  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}