@import 'mixins';
@import 'variables';

.profile-container {
  padding-top: 5rem;
  max-width: 120rem;
  margin: 0 auto;

  @media (max-width: 1024px) {
    margin: 0 3rem;
  }

  .events-container {

    .create-event {
      color: #fff;
      border: 2px solid #fff;
      background-color: #551A8B;
      padding: 1rem 2rem;
      margin-bottom: 5rem;
      font-size: 2rem;

      @media (max-width: 1024px) {
        font-size: 2.2rem;
      }

      &:hover {
        text-decoration: none;
      }

    }

    .create-event-container {
      font-size: 3rem;
      color: $color-black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 1024px) {
        margin-top: 8rem;
      }
    }
    
    .user-event-details {
      margin-top: 3rem;
      margin-bottom: 1rem;

      & > span {
        font-size: 1.2rem;

        @media (max-width: 1024px) {
          font-size: 1.4rem;
        }
      }
    }
  }

  .user_info {
    h1 {
      font-size: 2.5rem;

      @media (max-width: 1024px) {
        font-size: 2.8rem;
      }
    }

    h5 {
      font-size: 1.8rem;

      @media (max-width: 1024px) {
        font-size: 2rem;
      }
    }
  }
}
