@import 'mixins';
@import 'variables';

.profile-container {
  padding-top: 5rem;
  max-width: 175rem;
  margin: 0 auto;

  .events-container {

    .create-event {
      color: #fff;
      border: 2px solid #fff;
      background-color: #551A8B;
      padding: 1rem 2rem;
      margin-bottom: 5rem;
      font-size: 2rem;

      &:hover {
        text-decoration: none;
      }

    }
    
    .user-event-details {
      margin-top: 3rem;
      margin-bottom: 1rem;

      & > span {
        font-size: 1.2rem;
      }
    }
  }

  .user_info {
    h1 {
      font-size: 2.5rem;
    }

    h5 {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 700px) {
  .profile-container {
    background-color: orange;
  }
}