$color-light-gray: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: rgb(0, 0, 0);
$color-ligth-purple: rgb(0, 91, 169);
$color-dark-purple: rgb(117, 16, 247);
$color-light-white: #dbe2e8;
$color-gray: #7d97ad;
$color-purple: #551A8B;
$color-purple-2: #007bff;
$color-input-grey: #96a0aa;
$color-active-white: #fafbfc;
$color-red: #F04546;
$color-purple-2: #7510f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #333;

$default-font-size: 1.6rem;
