/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $color-light-gray: #777;
 $color-white: #fff;
 $color-black: rgb(0, 0, 0);
 $color-ligth-purple: rgb(0, 91, 169);
 $color-dark-purple: rgb(117, 16, 247);
 $color-light-white: #dbe2e8;
 $color-gray: #7d97ad;
 $color-purple: #551A8B;
 $color-input-grey: #96a0aa;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}


body {
  font-family: 'Baloo Thambi 2', cursive;
  // font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.9;
  padding: 3rem;
  color: $color-light-gray;
  box-sizing: border-box;
}

h1 {
  font-family: 'Lato', sans-serif;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-ligth-purple, 0.8), 
    rgba($color-dark-purple, 0.7)),
  url(/assets/logo-back2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  
  .header__logo {
    position: absolute;
    left: 4.5rem;
    top: 4.5rem;
    
    span {
      font-size: 6rem;
      letter-spacing: -.7rem;
      line-height: 1.7;
      font-weight: 500;
      color: $color-white;
    }
  }

  .header__sign-up-contanier {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    .slogan {
      color: $color-white;
      text-transform: uppercase;
      margin-bottom: 6rem;
      backface-visibility: hidden;

      .slogan--main {
        display: block;
        font-size: 4.7rem;
        font-weight: 500;
        letter-spacing: 2rem;
        animation: moveInTop 1s ease-in;
      }

      .slogan--sec {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.8rem;
        animation: moveInBottom 1s ease-in;
      }
    }

    .btn:link,
    .btn:visited {
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      border-radius: 10rem;
      font-size: 3rem;
      transition: all .2s;
      padding: 1.5rem 6rem;
      position: relative;
    }

    .btn:hover {
      transform: translateY(-7px);
      box-shadow: 0 1rem 2rem rgba($color-black,0.2);
    }

    .btn:active {
      transform: translateY(-2px);
      box-shadow: 0 .5rem 1rem rgba($color-black,0.2);
    }

    .btn--white {
      background-color: $color-white;
      color: $color-light-gray;
    }

    .btn::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
    }

    .btn--white::after {
      background-color: $color-white;
    }

    .btn:hover::after {
      transform: scaleX(1.2) scaleY(1.3);
      opacity: 0;
    }

    .btn--animated {
      animation: moveInBottom 0.5s ease-out .75s;
      animation-fill-mode: backwards;
    }
  }
}

@keyframes moveInTop{
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  80% {
    transform: translateY(2px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom{
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-1px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// SESSIONS

.header_sign_up {
  height: 8rem;
  text-align: center;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, .12);
  position: relative;
  

  .header_sign_up__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      font-size: 3rem;

      a:link,
      a:visited {
        text-decoration: none;
        font-size: 6rem;
        letter-spacing: -.7rem;
        line-height: 1.7;
        font-weight: 500;
      }

      a:active {
        color: $color-purple;
      }

      a:hover {
        cursor: pointer;
      }
    }
  }
}

.form {
  margin: 0 auto;
  box-shadow: 0 2rem 1.7rem rgba($color-black,0.1);
  border: 1px solid $color-light-white;
  width: 70rem;
  margin-top: 6rem;
  border: 1px solid $color-light-white;

  .form__header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .form__header--signup,
    .form__header--signin {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: $color-gray;
      text-decoration: none;
      padding: 2.4rem 0;
    }
  }

  .form__title {
    text-align: center;
    margin-top: 3rem;

    h3 {
      font-size: 4.1rem;
      font-weight: 100;
      letter-spacing: 0.5rem;
      margin-bottom: 1.3rem;
    }

    span {
      font-size: 1.8rem;
    }
  }

  .form__body {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    margin-top: 6rem;
    margin-bottom: 10rem;

    .input {
      margin-bottom: 2rem;
    }

    input {
      width: 100%;
      padding: 2rem;
      border-radius: 0.6rem;
      border: 1px solid $color-input-grey;
      font-size: 1.4rem;
      font-weight: 100;
      outline: 0 none;
      color: $color-light-gray;
    }

    input:focus {
      border: 3px solid $color-purple;
    }

    input[type="submit"] {
      // background-color: #02b3e4;
      background-color: rgba( $color-dark-purple, 0.7);
      color: $color-white;
      font-size: 1.9rem;
      border: none;
      margin-top: 2rem;
    }

    .error {
      color: $color-purple;
      font-size: 1.3rem;
      font-weight: 500;
    }

    .form__terms {
      font-size: 1.5rem;
      letter-spacing: 1px;
      margin-bottom: 2rem;
    }
  }

}