// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header_sign_up {
  height: 8rem;
  text-align: center;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, .12);
  position: relative;
  

  .header_sign_up__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      font-size: 3rem;

      a:link,
      a:visited {
        text-decoration: none;
        font-size: 6rem;
        letter-spacing: -.7rem;
        line-height: 1.7;
        font-weight: 500;
      }

      a:active {
        color: #551A8B;
      }

      a:hover {
        cursor: pointer;
      }
    }
  }
}

.form {
  margin: 0 auto;
  box-shadow: 0 2rem 1.7rem rgba(0,0,0,0.1);
  border: 1px solid #dbe2e8;
  width: 70rem;
  margin-top: 6rem;
  border: 1px solid #dbe2e8;

  .form__header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .form__header--signup,
    .form__header--signin {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #7d97ad;
      text-decoration: none;
      padding: 2.4rem 0;
    }

    .active {
      border: 3px solid red;
    }
  }

  .form__title {
    text-align: center;
    margin-top: 3rem;

    h3 {
      font-size: 4.1rem;
      font-weight: 100;
      letter-spacing: 0.5rem;
      margin-bottom: 1.3rem;
    }

    span {
      font-size: 1.8rem;
    }
  }

  .form__body {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    margin-top: 6rem;
    margin-bottom: 10rem;

    .input {
      margin-bottom: 2rem;
    }

    input {
      width: 100%;
      padding: 2rem;
      border-radius: 0.6rem;
      border: 1px solid #96a0aa;
      font-size: 1.4rem;
      font-weight: 100;
      outline: 0 none;
      color: #777;
    }

    input:focus {
      border: 3px solid #551A8B;
    }

    input[type="submit"] {
      // background-color: #02b3e4;
      background-color: rgba(117, 16, 247, 0.7);
      color: #fff;
      font-size: 1.9rem;
      border: none;
      margin-top: 2rem;
    }

    .error {
      color: #551A8B;
      font-size: 1.3rem;
      font-weight: 500;
    }

    .form__terms {
      font-size: 1.5rem;
      letter-spacing: 1px;
      margin-bottom: 2rem;
    }
  }

}