// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header_sign_up {
  height: 8rem;
  text-align: center;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, .12);
  position: relative;
  

  .header_sign_up__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      font-size: 3rem;
    }
  }
}

.form {
  margin: 0 auto;
  border: 1px solid #dbe2e8;
  width: 70rem;
  margin-top: 6rem;
  border: 1px solid #dbe2e8;

  .form__header {
    display: flex;
    justify-content: center;
    align-items: center;

    .form__header--signup,
    .form__header--signin {
      font-size: 4rem;
    }

    .form__header--signin {

    }
  }
}